@page "/Login"

@layout ContentOnlyLayout

@attribute [AllowAnonymous]

@using HomeBook.Frontend.Abstractions.Contracts
@using HomeBook.Frontend.Properties
@using Microsoft.AspNetCore.Components.Authorization

@inject ILocalizationProvider Loc
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJsLocalStorageProvider JsLocalStorageProvider

<UiPageTitle>@Loc[nameof(LocalizationStrings.Account_Login_Title)]</UiPageTitle>

<div class="account-login-background @_accountBackgroundClass">
    <UiStripeBackground CanvasCssClass="@_uiStripeBackgroundClass"/>
</div>

<MudContainer Class="@string.Format($"hb-account-login-container {_accountContainerClass}")">

    <MudGrid Class="mt-4" Justify="Justify.Center">

        <MudItem xs="12" sm="8" md="6" lg="4">

            <EditForm Model="@_loginModel"
                      OnValidSubmit="HandleLoginAsync">

                <DataAnnotationsValidator/>

                <MudCard Elevation="10"
                         Class="hb-account-login-card frosted-b5 mud-elevation-24 mud-text-primary">

                    <MudCardHeader Class="no-divider pb-0">

                        <CardHeaderContent>
                            <MudText Typo="Typo.h4"
                                     Color="Color.Primary">@Loc[nameof(LocalizationStrings.Account_Login_Title)]</MudText>
                            <MudText Typo="Typo.h6"
                                     Color="Color.Primary">@_homebookInstanceName</MudText>
                        </CardHeaderContent>

                    </MudCardHeader>

                    <MudCardContent Class="no-divider">

                        @if (!string.IsNullOrEmpty(_errorMessage))
                        {
                            <MudAlert Severity="Severity.Error"
                                      Class="mb-4"
                                      ShowCloseIcon="false">
                                @_errorMessage
                            </MudAlert>
                        }

                        <MudTextField Label="Username"
                                      @bind-Value="_loginModel.Username"
                                      For="@(() => _loginModel.Username)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Normal"
                                      FullWidth="true"
                                      Disabled="@_isLoading"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="Icons.Material.Filled.Person"/>

                        <MudTextField Label="Password"
                                      @bind-Value="_loginModel.Password"
                                      For="@(() => _loginModel.Password)"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Normal"
                                      FullWidth="true"
                                      InputType="InputType.Password"
                                      Disabled="@_isLoading"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="Icons.Material.Filled.Lock"/>

                    </MudCardContent>

                    <MudCardActions Class="frosted-b1 mud-elevation-24 no-backdrop-blur">

                        <MudButton ButtonType="ButtonType.Submit"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   FullWidth="true"
                                   Size="Size.Large"
                                   Disabled="@_isLoading">
                            @if (_isLoading)
                            {
                                <MudProgressCircular Class="ms-n1"
                                                     Size="Size.Small"
                                                     Indeterminate="true"/>
                                <MudText Class="ms-2">
                                    @Loc[nameof(LocalizationStrings.Account_Login_SigningInButton_Text)]
                                </MudText>
                            }
                            else
                            {
                                <MudIcon Icon="Icons.Material.Filled.Login"
                                         Class="mr-2"/>
                                <MudText>
                                    @Loc[nameof(LocalizationStrings.Account_Login_SignInButton_Text)]
                                </MudText>
                            }
                        </MudButton>

                    </MudCardActions>

                </MudCard>

            </EditForm>

        </MudItem>

    </MudGrid>

</MudContainer>
