@using HomeBook.Client
@using HomeBook.Frontend.Abstractions.Contracts
@using HomeBook.Frontend.UI.Resources
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<LocalizationStrings> Loc
@inject IDatabaseSetupService DatabaseSetupService
@inject ISetupService SetupService
@inject BackendClient BackendClient

<MudCard Class="frosted-b3 mud-elevation-6">

    <MudCardHeader Class="no-divider">
        <CardHeaderContent>
            <MudText Typo="Typo.h4" Color="Color.Inherit">
                @Loc[nameof(LocalizationStrings.Setup_Database_Title)]
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent Class="no-divider">

        @if (_isChecking)
        {
            <div class="relative d-flex flex-grow-1 flex-wrap flex-column justify-center align-center">
                <MudProgressLinear Color="Color.Primary"
                                   Indeterminate="true"
                                   Class="my-7"/>
            </div>
        }

        <EditForm Model="@_databaseConfig"
                  OnValidSubmit="OnValidSubmit">

            @if (!_isChecking)
            {
                @if (_databaseIsOk)
                {
                    <UiCountdownAlert Class="mt-3"
                                      Duration="TimeSpan.FromSeconds(5)"
                                      OnFinished="async () => await OnCountdownFinishedAsync()"
                                      Severity="Severity.Info">
                        @string.Format(Loc[nameof(LocalizationStrings.Setup_Database_Provider_MessageTemplate)], _databaseType)
                    </UiCountdownAlert>
                }

                @if (!string.IsNullOrEmpty(_errorMessage))
                {
                    <MudAlert Class="mt-3"
                              Severity="Severity.Error">
                        @_errorMessage
                    </MudAlert>
                }
            }

            <DataAnnotationsValidator/>

            @if (!_isChecking
                 && !_databaseIsOk)
            {
                <MudGrid>

                    <MudItem xs="12" md="10">
                        <MudTextField @bind-Value="_databaseConfig.Host"
                                      Margin="Margin.Dense"
                                      Label="@Loc[nameof(LocalizationStrings.Setup_Database_Form_Host_Label)]"
                                      HelperText="@Loc[nameof(LocalizationStrings.Setup_Database_Form_Host_HelperText)]"
                                      For="@(() => _databaseConfig.Host)"
                                      Required="true"
                                      Variant="Variant.Outlined"/>
                    </MudItem>

                    <MudItem xs="12" md="2">
                        <MudTextField @bind-Value="_databaseConfig.Port"
                                      Margin="Margin.Dense"
                                      Label="@Loc[nameof(LocalizationStrings.Setup_Database_Form_Port_Label)]"
                                      For="@(() => _databaseConfig.Port)"
                                      Required="true"
                                      Variant="Variant.Outlined"/>
                    </MudItem>

                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="_databaseConfig.DatabaseName"
                                      Margin="Margin.Dense"
                                      Label="@Loc[nameof(LocalizationStrings.Setup_Database_Form_DatabaseName_Label)]"
                                      HelperText="@Loc[nameof(LocalizationStrings.Setup_Database_Form_DatabaseName_HelperText)]"
                                      For="@(() => _databaseConfig.DatabaseName)"
                                      Required="true"
                                      Variant="Variant.Outlined"/>
                    </MudItem>

                    <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="_databaseConfig.Username"
                                      Margin="Margin.Dense"
                                      Label="@Loc[nameof(LocalizationStrings.Setup_Database_Form_DatabaseUsername_Label)]"
                                      HelperText="@Loc[nameof(LocalizationStrings.Setup_Database_Form_DatabaseUsername_HelperText)]"
                                      For="@(() => _databaseConfig.Username)"
                                      Required="true"
                                      Variant="Variant.Outlined"/>
                    </MudItem>

                    <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="_databaseConfig.Password"
                                      Margin="Margin.Dense"
                                      Label="@Loc[nameof(LocalizationStrings.Setup_Database_Form_DatabasePassword_Label)]"
                                      HelperText="@Loc[nameof(LocalizationStrings.Setup_Database_Form_DatabasePassword_HelperText)]"
                                      InputType="InputType.Password"
                                      For="@(() => _databaseConfig.Password)"
                                      Required="true"
                                      Variant="Variant.Outlined"/>
                    </MudItem>

                </MudGrid>

                <MudStack Row Justify="Justify.SpaceBetween"
                          AlignItems="AlignItems.Center">

                    <MudButton ButtonType="ButtonType.Submit"
                               Color="Color.Primary"
                               Variant="Variant.Filled"
                               Class="mt-3"
                               Disabled="@_isChecking">

                        <MudText>
                            @Loc[nameof(LocalizationStrings.Setup_Database_TestConnection_Button)]
                        </MudText>

                    </MudButton>

                </MudStack>
            }

        </EditForm>

    </MudCardContent>

</MudCard>
