@using Humanizer

<div class="ui-meal-card">

    <div class="d-flex my-3">

        <UiIcon IconStyle="UiIconStyle.Plain"
                Class="d-flex align-center"
                ColorValue="@MealTypeColor"
                Size="Size.Medium"
                Icon="@MealTypeIcon"/>

        <MudText Typo="Typo.h6"
                 Class="ms-3">
            @MealTypeName
        </MudText>

    </div>

    @if (Meal is not null)
    {
        <MudCard Class="mb-5 py-3 px-5"
                 Style="@Style"
                 Elevation="0">

            <MudText Typo="Typo.subtitle2">@Meal.Name</MudText>

            <MudText Typo="Typo.caption">@Meal.Ingredients</MudText>

            <MudText Typo="Typo.caption">

                @if (Meal.Duration is not null)
                {
                    @Meal.Duration?.Humanize(2)
                }

                <span class="mx-1">-</span>

                @if (Meal.CaloriesKcal is not null)
                {
                    @string.Format("{0} +kcal", Meal.CaloriesKcal)
                }

            </MudText>

        </MudCard>
    }

</div>
