@page "/Kitchen/Recipes/{RecipeId:guid}/Edit"

@using HomeBook.Frontend.Core.Icons
@using HomeBook.Frontend.Module.Kitchen.Contracts
@using HomeBook.Frontend.Module.Kitchen.Pages.Recipes.Components
@using HomeBook.Frontend.Module.Kitchen.ViewModels
@using Microsoft.AspNetCore.Components.Forms

@inject IRecipeService RecipeService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

@if (!_isLoading
     && _recipe != null)
{
    <MudContainer>

        <MudPaper Class="frosted-b6 text-dark mb-5 pa-3 rounded-pill">

            <MudToolBar Dense="true"
                        Class="px-0">

                <MudTooltip Color="Color.Primary"
                            Text="+View Recipe">
                    <MudIconButton Icon="@HomeBookIcons.Icons8.Windows11.Outline.RestaurantMenu"
                                   Href="@string.Format("/Kitchen/Recipes/{0}/View", RecipeId)"
                                   Color="Color.Primary"/>
                </MudTooltip>

                <MudSpacer/>

                <MudText Typo="Typo.h5">
                    @_recipe.Name
                </MudText>

                <MudSpacer/>

                <MudTooltip Color="Color.Error"
                            Text="+Delete Recipe">
                    <MudIconButton Icon="@HomeBookIcons.Icons8.Windows11.Outline.Trash"
                                   OnClick="DeleteRecipe"
                                   Color="Color.Error"/>
                </MudTooltip>

            </MudToolBar>

        </MudPaper>

        <MudPaper Class="frosted-b8 text-dark mb-5 pa-3">

            <UiRecipeDescriptionServings @bind-NumberOfServings="@_recipe.NumberOfServings"
                                         Description="@_recipe.Description"/>

        </MudPaper>

        @* <MudPaper Class="frosted-b8 text-dark mb-5"> *@
        @* *@
        @*     <UiRecipeIngredientsList Ingredients="@_recipe.Ingredients"/> *@
        @* *@
        @* </MudPaper> *@
        @* *@
        @* <MudPaper Class="frosted-b8 text-dark mb-5"> *@
        @* *@
        @*     <UiRecipeIngredientsList Steps="@_recipe.Steps"/> *@
        @* *@
        @* </MudPaper> *@
        @* *@
        @* <MudPaper Class="frosted-b4 text-dark mb-5"> *@
        @* *@
        @*     <UiRecipeImageUpload/> *@
        @* *@
        @* </MudPaper> *@
        @* *@
        @* <MudPaper Class="frosted-b4 text-dark mb-5"> *@
        @* *@
        @*     <UiRecipeMetaEdit Source="@_recipe.Source" *@
        @*                       Comment="@_recipe.Comment" *@
        @*                       CaloriesKcal="@_recipe.CaloriesKcal" *@
        @*                       DurationWorkingMinutes="@_recipe.DurationWorkingMinutes" *@
        @*                       DurationCookingMinutes="@_recipe.DurationCookingMinutes" *@
        @*                       DurationRestingMinutes="@_recipe.DurationRestingMinutes"/> *@
        @* *@
        @* </MudPaper> *@

        <MudPaper Class="frosted-b4 text-dark mb-5 pa-3">

            <div class="d-flex align-center justify-space-between flex-grow-1 gap-3">

                <MudButton Color="Color.Secondary"
                           Variant="Variant.Text"
                           OnClick="AbortEditingRecipe">
                    +Abort
                </MudButton>

                <MudSpacer/>

                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           OnClick="SaveRecipe">
                    +Save Recipe
                </MudButton>

            </div>
        </MudPaper>

    </MudContainer>
}

<MudContainer>

    @if (_isLoading)
    {
        <div class="d-flex justify-center">
            <MudProgressCircular Color="Color.Primary"
                                 Indeterminate="true"/>
        </div>
    }

    @if (!_isLoading)
    {
    }

</MudContainer>
