@page "/Setup"

@attribute [AllowAnonymous]

@layout ContentOnlyLayout

@using HomeBook.Frontend.Abstractions.Contracts
@using HomeBook.Frontend.UI.Resources
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<LocalizationStrings> Loc
@inject IConfiguration Configuration
@inject ISetupService SetupService
@inject NavigationManager NavigationManager

<UiPageTitle>@Loc[nameof(LocalizationStrings.Setup_Title)]</UiPageTitle>

<div class="setup-background @_setupBackgroundClass">
    <UiStripeBackground CanvasCssClass="@_uiStripeBackgroundClass"/>
</div>

<div class="setup-tiled-container @_setupTiledBackgroundClass">
    <div class="setup-tiled-background">
        <div class="bg-tile"></div>
        <div class="bg-tile"></div>
        <div class="bg-tile"></div>
        <div class="bg-tile"></div>
    </div>
</div>

<MudContainer Class="@string.Format($"hb-setup-container {_setupContainerClass}")">

    <MudCard Elevation="10" Class="hb-setup-card frosted-b1 mud-elevation-24 mud-text-primary">

        <MudCardHeader Class="no-divider">

            <CardHeaderContent>
                <MudText Typo="Typo.h3">@Loc[nameof(LocalizationStrings.Setup_Title)]</MudText>
            </CardHeaderContent>

        </MudCardHeader>

        <MudCardContent Class="no-divider">

            <MudHidden Breakpoint="Breakpoint.SmAndDown"
                       Invert="true">

                <MudGrid Class="mt-4">

                    <MudItem xs="12">
                        <UISetupStepper IsVertical="false"/>
                    </MudItem>

                    <MudItem xs="12">
                        <UISetupContent/>
                    </MudItem>

                    <MudItem xs="12">
                        <UISetupStepper IsVertical="false"/>
                    </MudItem>

                </MudGrid>

            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp"
                       Invert="true">

                <MudGrid Class="mt-4">

                    <MudItem md="3">
                        <UISetupStepper IsVertical="true"/>
                    </MudItem>

                    <MudItem md="9">
                        <UISetupContent/>
                    </MudItem>

                </MudGrid>

            </MudHidden>

        </MudCardContent>

        <MudCardActions Class="mud-theme-primary px-5">
            <MudText Class="me-5" Typo="Typo.caption">@Loc[nameof(LocalizationStrings.AppTitle)]</MudText>
            <MudText Class="me-5" Typo="Typo.caption">@Loc[nameof(LocalizationStrings.Setup_CardActions_Version)]: @_appVersion</MudText>
            <MudText Class="me-5" Typo="Typo.caption">@Loc[nameof(LocalizationStrings.Setup_CardActions_Server)]: @_appServer</MudText>
            <MudText Typo="Typo.caption" Class="me-1">@Loc[nameof(LocalizationStrings.AuthorMadeWithText)]</MudText>
            <MudLink Href="@Loc[nameof(LocalizationStrings.AuthorLink)]"
                     Target="_blank"
                     Color="Color.Inherit"
                     Typo="Typo.caption">
                <MudText Typo="Typo.caption">@Loc[nameof(LocalizationStrings.AuthorName)]</MudText>
            </MudLink>
        </MudCardActions>

    </MudCard>

</MudContainer>
