@page "/Setup"
@using HomeBook.Frontend.Abstractions.Contracts

<PageTitle>@Loc["Setup_Title"]</PageTitle>

@layout ContentOnlyLayout

@inject ILocalizationProvider Loc
@inject IConfiguration Configuration

<div class="setup-background @_setupBackgroundClass">
    <UiWaveBackground/>
</div>

<div class="setup-tiled-container @_setupTiledBackgroundClass">
    <div class="setup-tiled-background">
        <div class="bg-tile"></div>
        <div class="bg-tile"></div>
        <div class="bg-tile"></div>
        <div class="bg-tile"></div>
    </div>
</div>

<MudContainer Class="@string.Format($"hb-setup-container {_setupContainerClass}")">

    <MudCard Elevation="10" Class="hb-setup-card frosted-b1 mud-elevation-24 mud-text-primary">

        <MudCardHeader>

            <CardHeaderContent>
                <MudText Typo="Typo.h3">@Loc["Setup_Title"]</MudText>
            </CardHeaderContent>

        </MudCardHeader>

        <MudCardContent>

            <MudHidden Breakpoint="Breakpoint.SmAndDown"
                       Invert="true">

                <MudGrid Class="mt-4">

                    <MudItem xs="12">
                        <UISetupStepper IsVertical="false"/>
                    </MudItem>

                    <MudItem xs="12">
                        <UISetupContent/>
                    </MudItem>

                    <MudItem xs="12">
                        <UISetupStepper IsVertical="false"/>
                    </MudItem>

                </MudGrid>

            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp"
                       Invert="true">

                <MudGrid Class="mt-4">

                    <MudItem md="3">
                        <UISetupStepper IsVertical="true"/>
                    </MudItem>

                    <MudItem md="9">
                        <UISetupContent/>
                    </MudItem>

                </MudGrid>

            </MudHidden>

        </MudCardContent>

        <MudCardActions Class="mud-theme-primary px-5">
            @Loc["Setup_CardActions_Version"]: @_appVersion - @Loc["Setup_CardActions_Server"]: @_appServer

            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => FinishSetupAnimationAsync()">Finish
                Animation
            </MudButton>
        </MudCardActions>

    </MudCard>

</MudContainer>
