@page "/Setup"
@using HomeBook.Frontend.Abstractions.Contracts

@attribute [AllowAnonymous]

<PageTitle>@Loc["Setup_Title"]</PageTitle>

@layout ContentOnlyLayout

@inject ILocalizationProvider Loc
@inject IConfiguration Configuration
@inject ISetupService SetupService
@inject NavigationManager NavigationManager

<div class="setup-background @_setupBackgroundClass">
    <UiStripeBackground CanvasCssClass="@_uiStripeBackgroundClass"/>
</div>

<div class="setup-tiled-container @_setupTiledBackgroundClass">
    <div class="setup-tiled-background">
        <div class="bg-tile"></div>
        <div class="bg-tile"></div>
        <div class="bg-tile"></div>
        <div class="bg-tile"></div>
    </div>
</div>

<MudContainer Class="@string.Format($"hb-setup-container {_setupContainerClass}")">

    <MudCard Elevation="10" Class="hb-setup-card frosted-b1 mud-elevation-24 mud-text-primary">

        <MudCardHeader>

            <CardHeaderContent>
                <MudText Typo="Typo.h3">@Loc["Setup_Title"]</MudText>
            </CardHeaderContent>

        </MudCardHeader>

        <MudCardContent>

            <MudHidden Breakpoint="Breakpoint.SmAndDown"
                       Invert="true">

                <MudGrid Class="mt-4">

                    <MudItem xs="12">
                        <UISetupStepper IsVertical="false"/>
                    </MudItem>

                    <MudItem xs="12">
                        <UISetupContent/>
                    </MudItem>

                    <MudItem xs="12">
                        <UISetupStepper IsVertical="false"/>
                    </MudItem>

                </MudGrid>

            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp"
                       Invert="true">

                <MudGrid Class="mt-4">

                    <MudItem md="3">
                        <UISetupStepper IsVertical="true"/>
                    </MudItem>

                    <MudItem md="9">
                        <UISetupContent/>
                    </MudItem>

                </MudGrid>

            </MudHidden>

        </MudCardContent>

        <MudCardActions Class="mud-theme-primary px-5">
            <MudText Class="me-5" Typo="Typo.caption">@Loc["Setup_CardActions_Version"]: @_appVersion</MudText>
            <MudText Class="me-5" Typo="Typo.caption">@Loc["Setup_CardActions_Server"]: @_appServer</MudText>
            <MudText Class="me-5" Typo="Typo.caption">HomeBook</MudText>
            <MudText Typo="Typo.caption">made with ❤️ by&nbsp;</MudText>
            <MudLink Href="https://www.lk-code.dev"
                     Target="_blank"
                     Color="Color.Inherit"
                     Typo="Typo.caption">
                <MudText Typo="Typo.caption">lk-code</MudText>
            </MudLink>
        </MudCardActions>

    </MudCard>

</MudContainer>
