@page "/Settings/Developer"
@using HomeBook.Frontend.Core.Icons

<MudContainer Class="mt-4">

    <MudGrid>

        <MudItem xs="12" sm="12" md="4" lg="3" xl="3" xxl="2">

            <SettingsNavMenu/>

        </MudItem>

        <MudItem xs="12" sm="12" md="8" lg="9" xl="9" xxl="10">

            <MudCard Class="mb-5">

                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">UiIcon</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    <MudStack>
                        @code {
                            private Color _uiIconColor = Color.Primary;
                            private string _uiIconColorValue = string.Empty;
                            private string _uiIconIcon = MudBlazor.Icons.Material.TwoTone.Home;
                            private Size _uiIconSize = Size.Medium;

                            private Color[] _uiIconColors =
                            [
                                Color.Default,
                                Color.Primary,
                                Color.Secondary,
                                Color.Tertiary,
                                Color.Info,
                                Color.Success,
                                Color.Warning,
                                Color.Error
                            ];

                            private string[] _uiIconColorValues =
                            [
                                "#000000",
                                "#ff0000",
                                "#00ff00",
                                "#0000ff",
                                "#ffff00",
                                "#00ffff",
                                "#ff00ff"
                            ];

                            private string[] _uiIconIcons =
                            [
                                MudBlazor.Icons.Material.TwoTone.Home,
                                MudBlazor.Icons.Material.TwoTone.Settings,
                                MudBlazor.Icons.Material.Filled.Home,
                                MudBlazor.Icons.Material.Filled.Settings,
                                MudBlazor.Icons.Material.Outlined.Home,
                                MudBlazor.Icons.Material.Outlined.Settings,
                                MudBlazor.Icons.Material.Rounded.Home,
                                MudBlazor.Icons.Material.Rounded.Settings,
                                MudBlazor.Icons.Material.Sharp.Home,
                                MudBlazor.Icons.Material.Sharp.Settings,

                                HomeBookIcons.Icons8.Material.TwoTone.Tag,
                                HomeBookIcons.Icons8.Material.TwoTone.Ubuntu,
                                HomeBookIcons.Icons8.Windows11.Filled.Tag,
                                HomeBookIcons.Icons8.Windows11.Filled.Translation
                            ];

                            private Size[] _uiIconSizes =
                            [
                                Size.Small,
                                Size.Medium,
                                Size.Large
                            ];

                        }

                        <MudButtonGroup OverrideStyles="false">
                            @foreach (var color in _uiIconColors)
                            {
                                <MudButton Color="color"
                                           Variant="Variant.Filled"
                                           OnClick="() => { _uiIconColor = color; _uiIconColorValue = string.Empty; }">
                                    @color
                                </MudButton>
                            }
                        </MudButtonGroup>

                        <MudButtonGroup Color="Color.Default"
                                        Variant="Variant.Filled">
                            @foreach (var colorValue in _uiIconColorValues)
                            {
                                <MudButton
                                    OnClick="() => { _uiIconColorValue = colorValue; _uiIconColor = Color.Default; }">
                                    <span style="color: @colorValue">@colorValue</span>
                                </MudButton>
                            }
                        </MudButtonGroup>

                        <MudButtonGroup Color="Color.Default"
                                        Variant="Variant.Filled">
                            @foreach (var icon in _uiIconIcons)
                            {
                                <MudButton OnClick="() => { _uiIconIcon = icon; }">
                                    <MudIcon Color="Color.Primary"
                                             Icon="@icon"/>
                                </MudButton>
                            }
                        </MudButtonGroup>

                        <MudButtonGroup Color="Color.Default"
                                        Variant="Variant.Filled">
                            @foreach (var size in _uiIconSizes)
                            {
                                <MudButton OnClick="() => { _uiIconSize = size; }">
                                    @size
                                </MudButton>
                            }
                        </MudButtonGroup>

                        <MudText Typo="Typo.h6">UiIconStyle.Filled with Color.Warning</MudText>
                        <UiIcon IconStyle="UiIconStyle.Filled"
                                Color="@_uiIconColor"
                                ColorValue="@_uiIconColorValue"
                                Size="@_uiIconSize"
                                Icon="@_uiIconIcon"/>

                        <MudText Typo="Typo.h6">UiIconStyle.Filled with ColorValue (#ff0000)</MudText>
                        <UiIcon IconStyle="UiIconStyle.Filled"
                                Color="@_uiIconColor"
                                ColorValue="@_uiIconColorValue"
                                Size="@_uiIconSize"
                                Icon="@_uiIconIcon"/>

                        <MudText Typo="Typo.h6">UiIconStyle.Outlined with Color.Success</MudText>
                        <UiIcon IconStyle="UiIconStyle.Outlined"
                                Color="@_uiIconColor"
                                ColorValue="@_uiIconColorValue"
                                Size="@_uiIconSize"
                                Icon="@_uiIconIcon"/>

                        <MudText Typo="Typo.h6">UiIconStyle.Outlined with ColorValue (#00ff00)</MudText>
                        <UiIcon IconStyle="UiIconStyle.Outlined"
                                Color="@_uiIconColor"
                                ColorValue="@_uiIconColorValue"
                                Size="@_uiIconSize"
                                Icon="@_uiIconIcon"/>

                        <MudText Typo="Typo.h6">UiIconStyle.Plain with Color.Primary</MudText>
                        <UiIcon IconStyle="UiIconStyle.Plain"
                                Color="@_uiIconColor"
                                ColorValue="@_uiIconColorValue"
                                Size="@_uiIconSize"
                                Icon="@_uiIconIcon"/>

                        <MudText Typo="Typo.h6">UiIconStyle.Plain with ColorValue (#0000ff)</MudText>
                        <UiIcon IconStyle="UiIconStyle.Plain"
                                Color="@_uiIconColor"
                                ColorValue="@_uiIconColorValue"
                                Size="@_uiIconSize"
                                Icon="@_uiIconIcon"/>

                    </MudStack>

                </MudCardContent>

            </MudCard>

            <MudCard Class="mb-5">

                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">UiCountdownAlert</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                </MudCardContent>

            </MudCard>

        </MudItem>

    </MudGrid>

</MudContainer>
