@using HomeBook.Frontend.Abstractions.Contracts
@using HomeBook.Frontend.Abstractions.Enums
@using HomeBook.Frontend.Core.Icons
@using HomeBook.Frontend.Properties
@using HomeBook.Frontend.Themes
@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

@inject ILocalizationProvider Loc
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJsLocalStorageProvider JsLocalStorageProvider

@* Required *@
<MudThemeProvider Theme="HomebookTheme.GetTheme()"/>
<MudPopoverProvider/>

@* Needed for dialogs *@
<MudDialogProvider/>

@* Needed for snackbars *@
<MudSnackbarProvider/>

<MudLayout Class="pb-20">

    <MudAppBar Color="Color.Primary"
               Elevation="1">

        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton Icon="@HomeBookIcons.Icons8.Windows11.Outline.Menu"
                           Color="Color.Inherit"
                           Edge="Edge.Start"
                           OnClick="@ToggleDrawer"/>

            <MudText Typo="Typo.h5"
                     Class="ml-3">
                @(_homebookInstanceName + " - " + Loc[nameof(LocalizationStrings.AppTitle)])
            </MudText>
        </MudHidden>

        <MudSpacer/>

        <AuthorizeView>

            <Authorized>

                <MudMenu Dense
                         Icon="@HomeBookIcons.Icons8.Windows11.Outline.Profile"
                         Color="Color.Inherit">

                    <MudMenuItem Icon="@HomeBookIcons.Icons8.Windows11.Filled.User"
                                 IconColor="Color.Primary"
                                 Label="@context.User.Identity?.Name"/>

                    <MudDivider/>

                    <MudMenuItem Icon="@HomeBookIcons.Icons8.Windows11.Filled.LogoutRounded"
                                 IconColor="Color.Primary"
                                 OnClick="HandleLogoutAsync"
                                 Label="@Loc[nameof(LocalizationStrings.AccountMenu_Logout)]"/>

                </MudMenu>

                <MudMenu Dense
                         Variant="Variant.Text"
                         Size="Size.Medium"
                         Color="Color.Inherit"
                         Icon="@HomeBookIcons.Icons8.Windows11.Outline.More">

                    <MudMenuItem Icon="@HomeBookIcons.Icons8.Windows11.Filled.Gear"
                                 IconColor="Color.Primary"
                                 Href="/Settings"
                                 Label="@Loc[nameof(LocalizationStrings.AccountMenu_Settings)]"/>
                </MudMenu>

            </Authorized>

            <NotAuthorized>
                <MudIconButton Icon="@HomeBookIcons.Icons8.Windows11.Filled.LoginRounded"
                               Color="Color.Inherit"
                               Edge="Edge.End"
                               OnClick="NavigateToLogin"/>
            </NotAuthorized>

        </AuthorizeView>

    </MudAppBar>

    <MudDrawer Variant="DrawerVariant.Responsive"
               @bind-Open="_drawerOpen"
               Color="Color.Surface"
               Elevation="5">

        <MudDrawerHeader>

            <div class="d-flex flex-column">

                <MudText Typo="Typo.h5" Class="d-block mt-1">
                    @Loc[nameof(LocalizationStrings.AppTitle)]
                </MudText>

                <MudText Typo="Typo.overline" Class="d-block mt-1">
                    @_homebookInstanceName
                </MudText>

            </div>

        </MudDrawerHeader>

        <MudNavMenu Color="Color.Inherit">

            <MudNavLink Match="NavLinkMatch.All"
                        Icon="@HomeBookIcons.Icons8.Windows11.Outline.Home"
                        IconColor="Color.Inherit"
                        Href="/">
                @Loc[nameof(LocalizationStrings.Home_PageTitle)]
            </MudNavLink>

        </MudNavMenu>

    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>

    <MudAppBar Bottom="true" Color="Color.Tertiary" Elevation="1">

        <MudText Class="me-5" Typo="Typo.caption">@Loc[nameof(LocalizationStrings.AppTitle)]</MudText>
        <MudText Typo="Typo.caption" Class="me-1">@Loc[nameof(LocalizationStrings.AuthorMadeWithText)]</MudText>
        <MudLink Href="@Loc[nameof(LocalizationStrings.AuthorLink)]"
                 Target="_blank"
                 Color="Color.Inherit"
                 Typo="Typo.caption">
            <MudText Typo="Typo.caption">@Loc[nameof(LocalizationStrings.AuthorName)]</MudText>
        </MudLink>

        <MudSpacer/>

        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End"/>

    </MudAppBar>

</MudLayout>

@code {
    private bool _drawerOpen = true;
    private string? _homebookInstanceName = null;

    protected override async Task OnInitializedAsync()
    {
        CancellationToken cancellationToken = CancellationToken.None;
        _homebookInstanceName = await JsLocalStorageProvider.GetItemAsync(JsLocalStorageKeys.HomeBookInstanceName,
            cancellationToken);

        await base.OnInitializedAsync();
    }

    private async Task HandleLogoutAsync()
    {
        try
        {
            await AuthenticationService.LogoutAsync();
            Snackbar.Add(Loc[nameof(LocalizationStrings.Logout_SuccessMessage)], Severity.Success);
            NavigationManager.NavigateTo("/Login");
        }
        catch
        {
            Snackbar.Add(Loc[nameof(LocalizationStrings.Logout_ErrorMessage)], Severity.Error);
        }
    }

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/Login");
    }

}
