@using HomeBook.Frontend.Abstractions.Contracts
@using HomeBook.Frontend.Abstractions.Enums
@using Microsoft.AspNetCore.Components.Authorization
@using NavigationContext = Microsoft.AspNetCore.Components.Routing.NavigationContext

<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(App).Assembly"
            OnNavigateAsync="HandleNavigationAsync">

        <Found Context="routeData">

            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(MainLayout)">

                <NotAuthorized>

                    <MudGrid Justify="Justify.Center"
                             Class="mt-20">
                        <MudItem Class="pa-0">
                            <MudAlert Severity="Severity.Error"
                                      Variant="Variant.Filled">
                                MainLayout_NotAuthorizedText
                            </MudAlert>
                        </MudItem>
                    </MudGrid>

                </NotAuthorized>

            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>

        </Found>

        <NotFound>

            <PageTitle>Not found</PageTitle>

            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>

        </NotFound>

    </Router>

</CascadingAuthenticationState>

@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    [Inject]
    private IStartupService StartupService { get; set; } = null!;

    [Inject]
    private IAuthenticationService AuthenticationService { get; set; } = null!;

    private bool _applicationInitialized = false;
    private bool _isRedirecting;
    private AppStatus _appStatus = AppStatus.Initializing;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _appStatus = StartupService.Status;
        if (_appStatus == AppStatus.Initializing)
            StartupService.ApplicationInitialized += StartupServiceOnApplicationInitialized;
        else
            StartupServiceOnApplicationInitialized(_appStatus);
    }

    private void StartupServiceOnApplicationInitialized(AppStatus appStatus)
    {
        _appStatus = appStatus;

        _applicationInitialized = true;
        StateHasChanged();
    }

    private async Task HandleNavigationAsync(NavigationContext context)
    {
        if (_isRedirecting)
        {
            _isRedirecting = false;
            return;
        }

        // wait until SetupService is initialized
        while (!_applicationInitialized)
        {
            await Task.Delay(50);
        }

        bool isOnSetupPage = context.Path.StartsWith("setup", StringComparison.OrdinalIgnoreCase);
        if ((_appStatus == AppStatus.SetupRequired
             || _appStatus == AppStatus.UpdateRequired)
            && !isOnSetupPage)
        {
            _isRedirecting = true;
            NavigationManager.NavigateTo("/setup");
            return;
        }

        if (_appStatus != AppStatus.Running)
            return;

        bool isOnLoginPage = context.Path.StartsWith("login", StringComparison.OrdinalIgnoreCase);
        if (isOnLoginPage)
            return;

        bool isAuthenticated = await AuthenticationService.IsAuthenticatedAsync();
        if (!isAuthenticated)
        {
            _isRedirecting = true;
            NavigationManager.NavigateTo("/login");
            return;
        }
    }

}
