@using HomeBook.Frontend.Abstractions.Contracts
@using HomeBook.Frontend.Abstractions.Enums
@using NavigationContext = Microsoft.AspNetCore.Components.Routing.NavigationContext

<Router AppAssembly="@typeof(App).Assembly"
        OnNavigateAsync="HandleNavigationAsync">

    <Found Context="routeData">

        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>

        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>

    </Found>

    <NotFound>

        <PageTitle>Not found</PageTitle>

        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>

    </NotFound>

</Router>

@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Inject]
    private ISetupService SetupService { get; set; }

    private bool _setupServiceInitialized = false;
    private bool _isRedirecting;
    private InstanceStatus? _instanceStatus;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // initialize the setup service in background
        _ = Task.Run(async () =>
        {
            await SetupService.InitializeAsync();
            await WaitForServerAndGetSetupStatusAsync();

            _setupServiceInitialized = true;
            StateHasChanged();
        });
    }

    private async Task WaitForServerAndGetSetupStatusAsync()
    {
        try
        {
            _instanceStatus = await SetupService.GetInstanceStatusAsync();
        }
        catch (HttpRequestException err) when (err.Message.ToLowerInvariant().Contains("failed to fetch"))
        {
            await WaitForServerAndGetSetupStatusAsync();
        }
        catch (Exception err)
        {
            // TODO: display error or log error
        }
    }

    private async Task HandleNavigationAsync(NavigationContext context)
    {
        if (_isRedirecting)
        {
            _isRedirecting = false;
            return;
        }

        // wait until SetupService is initialized
        while (!_setupServiceInitialized)
        {
            await Task.Delay(50);
        }

        bool isOnSetupPage = context.Path.StartsWith("setup", StringComparison.OrdinalIgnoreCase);

        if (_instanceStatus == InstanceStatus.Running)
        {
            _isRedirecting = true;
            NavigationManager.NavigateTo("/");
            return;
        }

        if ((_instanceStatus == InstanceStatus.SetupRequired
             || _instanceStatus == InstanceStatus.UpdateRequired)
            && !isOnSetupPage)
        {
            _isRedirecting = true;
            NavigationManager.NavigateTo("/setup");
            return;
        }
    }

}
