@page "/Settings/Users/Add"

@attribute [Authorize(Roles = "Admin")]
@using HomeBook.Frontend.Abstractions.Contracts
@using HomeBook.Frontend.Properties

@inject ILocalizationProvider Loc
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IUserManagementProvider UserManagementProvider

<MudContainer Class="mt-4">

    <MudGrid>

        <MudItem xs="12" sm="12" md="4" lg="3" xl="3" xxl="3">

            <SettingsNavMenu/>

        </MudItem>

        <MudItem xs="12" sm="12" md="8" lg="9" xl="9" xxl="9">

            <MudCard Class="mb-4">
                <MudBreadcrumbs Items="_breadcrumbs"/>
            </MudCard>

            <MudCard>

                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">
                            @Loc[nameof(LocalizationStrings.Settings_User_Add_PageTitle)]
                        </MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    <EditForm Model="_userModel" OnValidSubmit="HandleValidSubmitAsync">

                        <DataAnnotationsValidator/>

                        <MudGrid>
                            <MudItem xs="12">
                                <MudTextField @bind-Value="_userModel.Username"
                                              Label="@Loc[nameof(LocalizationStrings.Settings_User_Add_Form_Username_Label)]"
                                              HelperText="@Loc[nameof(LocalizationStrings.Settings_User_Add_Form_Username_Caption)]"
                                              Required="true"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              For="@(() => _userModel.Username)"/>
                            </MudItem>

                            <MudItem xs="12" md="6">
                                <MudTextField @bind-Value="_userModel.Password"
                                              Label="@Loc[nameof(LocalizationStrings.Settings_User_Add_Form_Password_Label)]"
                                              HelperText="@Loc[nameof(LocalizationStrings.Settings_User_Add_Form_Password_Caption)]"
                                              InputType="@_passwordInputType"
                                              Required="true"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              For="@(() => _userModel.Password)"
                                              Adornment="Adornment.End"
                                              AdornmentIcon="@_passwordIcon"
                                              OnAdornmentClick="TogglePasswordVisibility"/>
                            </MudItem>

                            <MudItem xs="12" md="6">
                                <MudTextField @bind-Value="_userModel.ConfirmPassword"
                                              Label="@Loc[nameof(LocalizationStrings.Settings_User_Add_Form_ConfirmPassword_Label)]"
                                              HelperText="@Loc[nameof(LocalizationStrings.Settings_User_Add_Form_ConfirmPassword_Caption)]"
                                              InputType="@_confirmPasswordInputType"
                                              Required="true"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              For="@(() => _userModel.ConfirmPassword)"
                                              Adornment="Adornment.End"
                                              AdornmentIcon="@_confirmPasswordIcon"
                                              OnAdornmentClick="ToggleConfirmPasswordVisibility"/>
                            </MudItem>

                            <MudItem xs="12">
                                <MudSwitch T="bool" @bind-Value="_userModel.IsAdmin"
                                           Label="@Loc[nameof(LocalizationStrings.Settings_User_Add_AdministratorFlag_Label)]"
                                           Color="Color.Primary"
                                           UnCheckedColor="Color.Default"/>
                                <MudText Typo="Typo.caption" Class="mud-text-secondary">
                                    @Loc[nameof(LocalizationStrings.Settings_User_Add_AdministratorFlag_Caption)]
                                </MudText>
                            </MudItem>

                        </MudGrid>

                    </EditForm>

                </MudCardContent>

                <MudCardActions>

                    <MudButton Variant="Variant.Filled"
                               Color="Color.Default"
                               OnClick="NavigateBack">
                        @Loc[nameof(LocalizationStrings.Settings_User_Add_CancelButton_Text)]
                    </MudButton>

                    <MudSpacer/>

                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Save"
                               Disabled="_saving"
                               OnClick="HandleValidSubmitAsync">
                        @if (_saving)
                        {
                            <MudProgressCircular Size="Size.Small"
                                                 Indeterminate="true"
                                                 Class="mr-2"/>
                            <span>
                                @Loc[nameof(LocalizationStrings.Settings_User_Add_Creating_Message)]
                            </span>
                        }
                        else
                        {
                            <span>
                                @Loc[nameof(LocalizationStrings.Settings_User_Add_CreateButton_Text)]
                            </span>
                        }
                    </MudButton>

                </MudCardActions>

            </MudCard>

        </MudItem>

    </MudGrid>

</MudContainer>
