<div class="ui-progress-item">

    <div class="ui-progress-item-header">

        <div class="ui-progress-item-header-start">
            <MudText Typo="@HeaderTextStartTypo">
                @HeaderTextStart
            </MudText>
        </div>

        <div class="ui-progress-item-header-end">
            <MudText Typo="@HeaderTextEndTypo">
                @HeaderTextEnd
            </MudText>
        </div>

    </div>

    <div class="ui-progress-item-progress">
        <MudProgressLinear Color="@ProgressColor"
                           Rounded="true"
                           Size="@ProgressSize"
                           Value="@ProgressValue"/>
    </div>

    <div class="ui-progress-item-footer">

        <div class="ui-progress-item-footer-start">
            <MudText Typo="@FooterTextStartTypo">
                @FooterTextStart
            </MudText>
        </div>

        <div class="ui-progress-item-footer-end">
            <MudText Typo="@FooterTextEndTypo">
                @FooterTextEnd
            </MudText>
        </div>

    </div>

</div>
