@page "/Settings/About"

@using HomeBook.Frontend.Abstractions.Contracts
@using HomeBook.Frontend.UI.Resources
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Localization
@using HomeBookIcons = HomeBook.Frontend.Core.Icons.HomeBookIcons

@inject IStringLocalizer<LocalizationStrings> Loc
@inject IDialogService DialogService
@inject ILicensesService LicensesService
@inject ISnackbar Snackbar
@inject ISystemManagementProvider SystemManagementProvider
@inject IAuthenticationService AuthenticationService

<UiPageTitle>@Loc[nameof(LocalizationStrings.Settings_About_PageTitle)]</UiPageTitle>

<MudContainer>

    <MudGrid>

        <MudItem xs="12" sm="12" md="4" lg="3" xl="3" xxl="3">

            <SettingsNavMenu/>

        </MudItem>

        <MudItem xs="12" sm="12" md="8" lg="9" xl="9" xxl="9">

            <MudStack Spacing="4">

                <MudPaper Class="pa-6" Elevation="2">

                    <MudStack Class="align-center" Spacing="3">

                        <MudImage Src="/logo.svg"
                                  Alt="@Loc[nameof(LocalizationStrings.AppTitle)]"
                                  Height="160"/>

                        <MudText Typo="Typo.h3"
                                 Color="Color.Primary"
                                 Align="Align.Center">
                            @Loc[nameof(LocalizationStrings.AppTitle)]
                        </MudText>
                        <MudText Typo="Typo.subtitle1" Color="Color.Secondary"
                                 Align="Align.Center">
                            @Loc[nameof(LocalizationStrings.AppSlogan)]
                        </MudText>

                        <MudChip T="string" Color="Color.Primary" Size="Size.Small">
                            @string.Format(Loc[nameof(LocalizationStrings.Settings_About_Version_Text_Template)], _backendVersion)
                        </MudChip>

                    </MudStack>

                </MudPaper>

                <AuthorizeView Roles="Admin">

                    <!-- Application Information -->
                    <MudPaper Class="pa-6" Elevation="2">

                        <MudStack Row="true"
                                  Class="align-center mb-1"
                                  Spacing="2">
                            <MudIcon Icon="@HomeBookIcons.Icons8.GlassMorphism.Processor"
                                     Size="Size.Large"
                                     Class="mr-2"/>
                            <MudText Typo="Typo.h5"
                                     Color="Color.Secondary">
                                @Loc[nameof(LocalizationStrings.Settings_About_ApplicationArea_Title)]
                            </MudText>
                        </MudStack>

                        <MudDivider Class="mb-4"/>

                        <MudGrid>

                            <MudItem xs="12" md="6">

                                <MudStack Spacing="2">

                                    <MudStack Row="true" Class="align-center">
                                        <MudIcon Icon="@HomeBookIcons.Icons8.Windows11.Filled.SourceCode"
                                                 Size="Size.Small"
                                                 Color="Color.Secondary"/>
                                        <MudText Typo="Typo.body2">
                                            <strong>@Loc[nameof(LocalizationStrings.Settings_About_ApplicationArea_Backend_Text)]</strong>
                                            <span>@_backendDotnetVersion</span>
                                        </MudText>
                                    </MudStack>

                                    <MudStack Row="true" Class="align-center">
                                        <MudIcon Icon="@HomeBookIcons.Icons8.Windows11.Filled.Storage"
                                                 Size="Size.Small"
                                                 Color="Color.Secondary"/>
                                        <MudText Typo="Typo.body2">
                                            <strong>@Loc[nameof(LocalizationStrings.Settings_About_ApplicationArea_Database_Text)]</strong>
                                            <span>@_databaseProvider</span>
                                        </MudText>
                                    </MudStack>

                                </MudStack>

                            </MudItem>

                            <MudItem xs="12" md="6">

                                <MudStack Spacing="2">

                                    <MudStack Row="true" Class="align-center">
                                        <MudIcon Icon="@HomeBookIcons.Icons8.Windows11.Filled.SourceCode"
                                                 Size="Size.Small"
                                                 Color="Color.Secondary"/>
                                        <MudText Typo="Typo.body2">
                                            <strong>@Loc[nameof(LocalizationStrings.Settings_About_ApplicationArea_UI_Text)]</strong>
                                            <span>@_uiDotnetVersion</span>
                                        </MudText>
                                    </MudStack>

                                    <MudStack Row="true" Class="align-center">
                                        <MudIcon Icon="@HomeBookIcons.Icons8.Windows11.Filled.ContainerTruck"
                                                 Size="Size.Small"
                                                 Color="Color.Secondary"/>
                                        <MudText Typo="Typo.body2">
                                            <strong>@Loc[nameof(LocalizationStrings.Settings_About_ApplicationArea_Deployment_Text)]</strong>
                                            <span>@_deploymentType</span>
                                        </MudText>
                                    </MudStack>

                                </MudStack>

                            </MudItem>

                        </MudGrid>

                    </MudPaper>

                </AuthorizeView>

                <!-- License and Legal -->
                <MudPaper Class="pa-6"
                          Elevation="2">

                    <MudStack Row="true"
                              Class="align-center mb-1"
                              Spacing="2">
                        <MudIcon Icon="@HomeBookIcons.Icons8.GlassMorphism.ProductDocuments"
                                 Size="Size.Large"
                                 Class="mr-2"/>
                        <MudText Typo="Typo.h5"
                                 Color="Color.Secondary">
                            @Loc[nameof(LocalizationStrings.Settings_About_LicensesArea_Title)]
                        </MudText>
                    </MudStack>

                    <MudDivider Class="mb-4"/>

                    <MudStack Spacing="3">

                        <MudButton Color="Color.Secondary"
                                   Variant="Variant.Filled"
                                   Class="mt-3"
                                   StartIcon="@HomeBookIcons.Icons8.Windows11.Filled.Page"
                                   OnClick="async () => await OpenLicensesDialogAsync()">
                            @Loc[nameof(LocalizationStrings.Settings_About_LicensesArea_ShowLicenses_Button_Text)]
                        </MudButton>

                        <MudStack Row="true"
                                  Class="justify-space-between align-center">

                            <MudText Typo="Typo.body2"
                                     Color="Color.Secondary">
                                @((MarkupString)(string.Format(Loc[nameof(LocalizationStrings.Settings_About_LicensesArea_Copyright_TextTemplate)], DateTime.Now.Year)))
                            </MudText>

                        </MudStack>

                    </MudStack>

                </MudPaper>

                <!-- External Links -->
                <MudStack Row="true"
                          Class="align-center mt-5 mb-1"
                          Spacing="2">
                    <MudFab Class="ui-color-bg-brand-github me-3"
                            StartIcon="@HomeBookIcons.Icons8.Windows11.Filled.GitHub"
                            Size="Size.Large"
                            Href="@Loc[nameof(LocalizationStrings.Settings_About_ExternalLink_GitHubProject_Href)]"
                            Target="_blank"/>
                </MudStack>

            </MudStack>

        </MudItem>

    </MudGrid>

</MudContainer>
